<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Predicting Performance in Secondary Schools</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Predict">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Results">Analysis & Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Model">Model</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Data">Data & Limitations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Research">Further Research</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="header-row" id="header-row" style="padding-top: 50px; overflow:hidden;">
        <div class="container-fluid" style="padding: 0px;">
            <div class="row"> 
                <div class="col-xs-12"></div> 
                    <img src="{{ url_for('static', filename='images/HeaderImg.png') }}" alt="Website header image" style="width: 100%;">
                </div>     
            </div>
        </div>
    </div>

    <div class="container">  
        <div class="row">
            <div class="col-md-12 bg-light rounded">
                <h3>Using Predictive Models To Support Students</h3>
                <hr>
                <div class="thumbnail">
                    <img class="img-thumbnail float-right" src="{{ url_for('static',filename='images/Tutoring.jpg')}}" width="50%" alt="temperature">
                </div>
                <p>According to a 2017 study by the Pew Research Center, U.S. academic performance is "behind many other advanced industrial nations"<sup>1</sup> in areas such as reading, math, and science. At the same time, the U.S. spends around $3,800 more than the OECD average per student, having the fifth highest spending per student.<sup>2</sup> What innovations can the U.S. turn to in order to catch up?</p>                         
                <p>One approach is to utilize machine learning to build predictive models of student performance. Through the ethical collection of student data, via academic records and surveys, a model can be created to anticipate where resources can be focused to boost student performance. This targeted application of resources can be more efficient and proactive than traditional models, with the ability to help students before warning signs appear.</p>
                <p>For example, through predictive modeling, a tutor can be assigned before a student falls behind; or, programs can more actively provide resources to students who might be disadvantaged for various socio-economic factors.</p>
                <a href="https://www.pewresearch.org/fact-tank/2017/02/15/u-s-students-internationally-math-science/"><sup>1</sup>"U.S. students’ academic achievement still lags that of their peers in many other countries", Pew Research</a>
                <br>
                <a href="https://nces.ed.gov/programs/coe/indicator_cmd.asp"><sup>2</sup>"Education Expenditures by Country", National Center for Education Statistics</a>
            </div>
        </div>
    </div>

    <br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>