/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

a {
    color: rgb(172, 171, 171);
    font-size: small;
}

/* header styling*/
h1{
    color: rgb(49, 45, 45);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}
h3{
    color: rgb(49, 45, 45);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}
h4{
    color: rgb(49, 45, 45);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


/* fontstyling for text*/
.pmain{
   color: grey;
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
}


/* body background*/
body{
    background-color: rgb(223, 222, 222);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

.box{
    background-color: white;
}

/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.active a{
    color: black;
}

/* content styling*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}

.indented {
    padding-left: 50pt;
    padding-right: 100pt;
}

/* small screen adjustments*/
@media(max-width:767px){
    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}

pre code {
    background-color: lavender;
    border: 2px solid grey;
    display: block;
    padding: 5px;
    margin-left: 80px;
    margin-right: 80px;
  }

.dia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}

.model {
    background-color: rgb(223, 222, 222);
    color: black;
    text-align: justify;
    font-size: 2.3ch;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


